JWT_ISSUER=https://localhost:8080
JWT_AUDIENCE=https://localhost:8080
JWT_SECRET=CulturalCMS_Demo_Secret_Key_1234567890_abcdef
CORS_ORIGIN=http://localhost:3000

DB_HOST=db
DB_PORT=5432
DB_NAME=CulturalCMSDb
DB_USER=postgres
DB_PASSWORD=CulturalCMS_Demo_Db_Pass_2026

ASPNETCORE_ENVIRONMENT=Development
APP_PORT=8080